body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  opacity:0.5;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:440px;
  top:-30px;
  width:130px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:20px;
  width:150px;
  height:40px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:770px;
  top:20px;
  width:50px;
  height:40px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:860px;
  top:20px;
  width:110px;
  height:40px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:230px;
  top:20px;
  width:130px;
  height:40px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:162px;
  width:76px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:70px;
  top:256px;
  width:74px;
  height:74px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u17 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:230px;
  top:256px;
  width:74px;
  height:74px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u19 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:222px;
  width:68px;
  height:24px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:70px;
  top:464px;
  width:74px;
  height:74px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u23 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:202px;
  top:464px;
  width:74px;
  height:74px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u25 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:70px;
  top:430px;
  width:50px;
  height:48px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:336px;
  top:464px;
  width:74px;
  height:74px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u29 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:70px;
  top:610px;
  width:74px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:37px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:70px;
  top:673px;
  width:74px;
  height:74px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u33 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:204px;
  top:673px;
  width:74px;
  height:74px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u35 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:70px;
  top:813px;
  width:256px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:70px;
  top:876px;
  width:74px;
  height:74px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u39 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:600px;
  top:210px;
  width:380px;
  height:380px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
  opacity:0.5;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u42 {
  position:absolute;
  left:2px;
  top:182px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u44 {
  position:absolute;
  left:2px;
  top:182px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u46 {
  position:absolute;
  left:2px;
  top:182px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u48 {
  position:absolute;
  left:2px;
  top:182px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:73px;
  top:340px;
  width:57px;
  height:24px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:242px;
  top:340px;
  width:49px;
  height:24px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:70px;
  top:548px;
  width:66px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:204px;
  top:548px;
  width:66px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:338px;
  top:548px;
  width:71px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:74px;
  top:757px;
  width:66px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:208px;
  top:757px;
  width:71px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:40px;
  top:960px;
  width:135px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:0px;
  top:1100px;
  width:1000px;
  height:70px;
  overflow:hidden;
}
#u65_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:10px;
  top:-30px;
  width:130px;
  height:130px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u67 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:758px;
  top:20px;
  width:242px;
  height:40px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:685px;
  top:802px;
  width:210px;
  height:60px;
  opacity:0.800000011920929;
  font-size:20px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u71 {
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:584px;
  top:641px;
  width:202px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:37px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:838px;
  top:641px;
  width:59px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:900px;
  top:640px;
  width:74px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:37px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:956px;
  top:640px;
  width:39px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:580px;
  top:698px;
  width:375px;
  height:24px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
